body {
    font-family: 'Roboto Condensed', sans-serif;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

.alert-container {}

.callout-container {
    height:100vh;
    background: url(../images/pexels-eva-bronzini-7254848.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.quotes-container {}

.features-container {}

.table.container {}


